In [1]:
z = 0
for i in range(1,4):
    z += 1/i**2
print(z)
for i in range(1,4):
    print(i**(-2)/z)

1.3611111111111112
0.7346938775510203
0.18367346938775508
0.08163265306122448

In [2]:
import math
def BCE(a, b):
    return - math.log(a) - math.log(b)
print(BCE(0.99, 0.01))
print(BCE(0.5, 0.5))
print(BCE(0.99, 0.45))
print(BCE(0.65, 0.65))

4.615220521841592
1.3862943611198906
0.8085580320712731
0.8615658321849085

In [3]:
import sympy.parsing.sympy_parser

#sample_expr_str = '-x*y*exp(-w*x-b)/(1+exp(-w*x-b))+x*(1 - y)'
sample_expr_str = 'x/(1+exp(-w*x-b)) -x*y'
sample_expr = sympy.parsing.sympy_parser.parse_expr(sample_expr_str)
sample_value = sample_expr.evalf(subs=dict(x=0.5, y=1, w=4, b=1))
print(sample_value)

-0.0237129365887834

In [4]:
import sympy.parsing.sympy_parser

sample_expr_str = 'x*(1/(1+exp(-w*x-b)) - y) + 2*c*w'
sample_expr = sympy.parsing.sympy_parser.parse_expr(sample_expr_str)
sample_value = sample_expr.evalf(subs=dict(x=0.5, y=1, w=4, b=1, c=1))
print(sample_value)

7.97628706341122

In [5]:
s = 0
for i in range(1, 1001):
    s+=1/i**2
i=1
print(s)
while True:
    a = 1/i**2
    if (1/i**2)/s < 0.001:
        print(10000 - i)
        break
    i+=1

1.6439345666815615
9975

In [13]:
import re
import numpy as np
import pandas as pd
str1 = 'Контактный телефон: 123123.'
str2 = 'Что-нибудь надо придумать.'
str3 = 'Значение числа Е=2.7182.'
str4 = 'Демон123, как тебя зовут в реале?'
str5 = '-1-.15=-1.15'
str6 = '- 1 - .15 = -1.15'
str7 = 'Какого ;%:?* тут происходит?'

tokenize_regex = re.compile(r'([а-яё]+|-?\d*[.,]?\d+|\S)', re.I)

tokens = tokenize_regex.findall(str5)

print(tokens)

['-1', '-.15', '=', '-1.15']

In [14]:
str1 = "Казнить нельзя, помиловать. Нельзя наказывать.".lower()

str2 = "Казнить, нельзя помиловать. Нельзя освободить.".lower()

str3 = "Нельзя не помиловать.".lower()

str4 = "Обязательно освободить.".lower()

tokenize_regex = re.compile(r'([\w\d]+)', re.I)

tokens = tokenize_regex.findall(str1)

print(tokens)

a = []
b = []

for i in [str1, str2, str3, str4]:
    a.append(tokenize_regex.findall(i))
    b += tokenize_regex.findall(i)
a
b

b_dict = {x:b.count(x) for x in set(b)}
b_list = [[x,b.count(x)] for x in set(b)]

DF = []
for j in b_list:
    #print(j)
    counter = 0
    for i in a:
        #print(j[0])
        if j[0] in i:
            counter += 1
    DF.append(str(counter/4))
    j[1] = counter/4
print(' '.join(DF))

print(b_list)

s_b = sorted(b_list,
                 reverse = False,
                 key=lambda pair: (pair[1], pair[0]))
s_b
print(' '.join([x[0] for x in s_b]))
print(' '.join([str(x[1]) for x in s_b]))

# sorted_b = sorted(b_dict.items(),
#                  reverse = False,
#                  key=lambda pair: (pair[1], pair[0]))
# print(' '.join([sorted_b[i][0] for i in range(len(sorted_b))]))

# DF = []
# for j in sorted_b:
#     counter = 0
#     for i in a:
#         #print(j[0])
#         if j[0] in i:
#             counter += 1
#     DF.append(str(counter/4))
#     #print(counter/4)
# ' '.join(DF)

['казнить', 'нельзя', 'помиловать', 'нельзя', 'наказывать']
0.5 0.25 0.75 0.25 0.75 0.25 0.5
[['казнить', 0.5], ['не', 0.25], ['помиловать', 0.75], ['наказывать', 0.25], ['нельзя', 0.75], ['обязательно', 0.25], ['освободить', 0.5]]
наказывать не обязательно казнить освободить нельзя помиловать
0.25 0.25 0.25 0.5 0.5 0.75 0.75

In [16]:
IDF = 1/np.array([x[1] for x in s_b])
print(f'IDF: {IDF}')

IDF: [4.         4.         4.         2.         2.         1.33333333
 1.33333333]

In [22]:
TF = pd.DataFrame()
for i in range(len(a)):
    TF[i] = [a[i].count(s_b[j][0])/len(a[i]) for j in range(len(s_b)) ]
TF

     0    1         2    3
0  0.2  0.0  0.000000  0.0
1  0.0  0.0  0.333333  0.0
2  0.0  0.0  0.000000  0.5
3  0.2  0.2  0.000000  0.0
4  0.0  0.2  0.000000  0.5
5  0.4  0.4  0.333333  0.0
6  0.2  0.2  0.333333  0.0

In [21]:
a

[['казнить', 'нельзя', 'помиловать', 'нельзя', 'наказывать'],
 ['казнить', 'нельзя', 'помиловать', 'нельзя', 'освободить'],
 ['нельзя', 'не', 'помиловать'],
 ['обязательно', 'освободить']]

In [34]:
TFT = np.log(TF.transpose()+1)*IDF
TFT

          0         1        2         3         4         5         6
0  0.729286  0.000000  0.00000  0.364643  0.000000  0.448630  0.243095
1  0.000000  0.000000  0.00000  0.364643  0.364643  0.448630  0.243095
2  0.000000  1.150728  0.00000  0.000000  0.000000  0.383576  0.383576
3  0.000000  0.000000  1.62186  0.000000  0.810930  0.000000  0.000000

In [44]:
NTFIDF = (TFT - TFT.mean())/TFT.std(ddof=1)
NTFIDF

     0    1    2         3         4         5         6
0  1.5 -0.5 -0.5  0.866025 -0.763013  0.595467  0.160968
1 -0.5 -0.5 -0.5  0.866025  0.183682  0.595467  0.160968
2 -0.5  1.5 -0.5 -0.866025 -0.763013  0.293824  1.042435
3 -0.5 -0.5  1.5 -0.866025  1.342343 -1.484758 -1.364371

In [56]:
def pan_spaces
for i in NTFIDF.index:
    print(' '.join(list(str(NTFIDF.loc[i,:]))))

0         1 . 5 0 0 0 0 0
 1       - 0 . 5 0 0 0 0 0
 2       - 0 . 5 0 0 0 0 0
 3         0 . 8 6 6 0 2 5
 4       - 0 . 7 6 3 0 1 3
 5         0 . 5 9 5 4 6 7
 6         0 . 1 6 0 9 6 8
 N a m e :   0 ,   d t y p e :   f l o a t 6 4
0       - 0 . 5 0 0 0 0 0
 1       - 0 . 5 0 0 0 0 0
 2       - 0 . 5 0 0 0 0 0
 3         0 . 8 6 6 0 2 5
 4         0 . 1 8 3 6 8 2
 5         0 . 5 9 5 4 6 7
 6         0 . 1 6 0 9 6 8
 N a m e :   1 ,   d t y p e :   f l o a t 6 4
0       - 0 . 5 0 0 0 0 0
 1         1 . 5 0 0 0 0 0
 2       - 0 . 5 0 0 0 0 0
 3       - 0 . 8 6 6 0 2 5
 4       - 0 . 7 6 3 0 1 3
 5         0 . 2 9 3 8 2 4
 6         1 . 0 4 2 4 3 5
 N a m e :   2 ,   d t y p e :   f l o a t 6 4
0       - 0 . 5 0 0 0 0 0
 1       - 0 . 5 0 0 0 0 0
 2         1 . 5 0 0 0 0 0
 3       - 0 . 8 6 6 0 2 5
 4         1 . 3 4 2 3 4 3
 5       - 1 . 4 8 4 7 5 8
 6       - 1 . 3 6 4 3 7 1
 N a m e :   3 ,   d t y p e :   f l o a t 6 4

In [39]:
s_b

[['наказывать', 0.25],
 ['не', 0.25],
 ['обязательно', 0.25],
 ['казнить', 0.5],
 ['освободить', 0.5],
 ['нельзя', 0.75],
 ['помиловать', 0.75]]

In [49]:
NTFIDF.loc[i,:]

0    1.500000
1   -0.500000
2   -0.500000
3    0.866025
4   -0.763013
5    0.595467
6    0.160968
Name: 0, dtype: float64

In [76]:
for i in NTFIDF.index:
    for v in NTFIDF.loc[i,:]:
        print(v, end=' ')
    print()

1.5 -0.5 -0.5 0.8660254037844386 -0.7630125578876946 0.5954669471484166 0.1609678767201035
-0.5 -0.5 -0.5 0.8660254037844386 0.18368219185173848 0.5954669471484166 0.1609678767201035
-0.5 1.5 -0.5 -0.8660254037844386 -0.7630125578876946 0.29382391061831536 1.0424350837750262
-0.5 -0.5 1.5 -0.8660254037844386 1.3423429239236508 -1.4847578049151486 -1.3643708372152332